.footer {
    position: fixed;
    bottom : 0;
    z-index: 10;
    display:flex;
    justify-content: space-between;
    height: 65px;
    width: 98%;
    background-color:#181818;
    padding: 20px;
}
.footer__right * .MuiSlider-root {
    color : #1db954;
    
}
#song__player {
    background: none;
    color: none;
}
.footer__left {
    flex : 0.3;
    display: flex;
    align-items: center;
    color: #f2f2f2;
    max-width: 400px;
    min-width: 150px;
}
.footer__albumLogo {
    height: 60px;
    width : 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footer__left >div>h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
.footer__left >div> p {
    font-size: 12px;
}
.footer__center {
    flex:0.4;
    padding : 0 100px;
    color: #f2f2f2;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 350px;
}
.footer__center__controls{
    display : flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.footer__right {
    flex:0.3;
    display : flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
}
.footer__green {
    color : #1db954;
}
.footer__icon:hover,
.footer__green:hover {
    cursor: pointer;
    transition: transform 0.2s ease-in;
    transform: scale(1.2) !important;
}