.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header__left {
    background-color: #fff;
    color: #cccbcb;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}